In [1]:
#imports //done by all
import pandas as pd 
import numpy as np
from scipy import stats

In [2]:
#import and read csv //done by all
df = pd.read_csv(r"C:\Users\esthe\Downloads\heart.csv")

In [3]:
#Our Dataset // done by all
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

# DATA CLEANING SECTION
### Done By:
##### 221141030 - KALLINA JOSEPH
##### 222091789 - ESTHER KADHIKWA
##### 223084433 - TUPOPILA KADHILA 
##### 222119810 - SLYSKEN KAKUVA

In [4]:
#Check Null Values //done by 222119810 - Slyken Kakuva
df.isnull().any()

age         False
sex         False
cp          False
trtbps      False
chol        False
fbs         False
restecg     False
thalachh    False
exng        False
oldpeak     False
slp         False
caa         False
thall       False
output      False
dtype: bool

In [5]:
#Check for Duplicates //done by 222119810 - Slyken Kakuva
df.duplicated().any()

True

In [6]:
#Print of the Duplicate values //done by 222119810 - Slysken Kakuva
duplicate_rows = df[df.duplicated()]
print(duplicate_rows)
#Duplicate values found in row 164 //done by 222119810 - Slysken Kakuva

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
164   38    1   2     138   175    0        1       173     0      0.0    2

     caa  thall  output
164    4      2       1

In [7]:
#Removal of the duplocate values and then print the result //done by 222119810 - Slysken Kakuva
df.drop_duplicates(inplace=True)
#Duplicate values found in row 164 have successfully been removed //done by 222119810 - Slysken Kakuva
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
#to check if something is unusual //done by Kallina Joseph
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [9]:
#to check if something is unusual //done by Kallina Joseph
df.tail()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
# Dropping missing values //done by Kallina Joseph
df_cleaned = df.dropna()

In [34]:
#  Calculate Mean, Median, and Mode for Age and Cholestrol by Tupopila Kadhila

In [35]:
# SCalculate the mean, median, and mode

In [11]:
print("Column names in the dataset:", df.columns)

Column names in the dataset: Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [12]:
chol_mean = df['chol'].mean()
print(f"Mean Cholesterol: {chol_mean}")

age_mean = df['age'].mean()
print(f"Mean Age: {age_mean}")

trtbps_mean = df['trtbps'].mean()
print(f"Mean trtbps: {trtbps_mean}")

thalachh_mean = df['thalachh'].mean()
print(f"Mean thalachh: {thalachh_mean}")

oldpeak_mean = df['oldpeak'].mean()
print(f"Mean oldpeak: {oldpeak_mean}")

Mean Cholesterol: 246.5
Mean Age: 54.420529801324506
Mean trtbps: 131.60264900662253
Mean thalachh: 149.56953642384107
Mean oldpeak: 1.0430463576158941

In [13]:
# Calculate and print median values
chol_median = df['chol'].median()
print(f"Median Cholesterol: {chol_median}")

age_median = df['age'].median()
print(f"Median Age: {age_median}")

trtbps_median = df['trtbps'].median()
print(f"Median trtbps: {trtbps_median}")

thalachh_median = df['thalachh'].median()
print(f"Median thalachh: {thalachh_median}")

oldpeak_median = df['oldpeak'].median()
print(f"Median oldpeak: {oldpeak_median}")

Median Cholesterol: 240.5
Median Age: 55.5
Median trtbps: 130.0
Median thalachh: 152.5
Median oldpeak: 0.8

In [14]:
# Calculate and print mode values
chol_mode = df['chol'].mode()[0]  # Use the first mode value
print(f"Mode Cholesterol: {chol_mode}")

age_mode = df['age'].mode()[0]
print(f"Mode Age: {age_mode}")

trtbps_mode = df['trtbps'].mode()[0]
print(f"Mode trtbps: {trtbps_mode}")

thalachh_mode = df['thalachh'].mode()[0]
print(f"Mode thalachh: {thalachh_mode}")

oldpeak_mode = df['oldpeak'].mode()[0]
print(f"Mode oldpeak: {oldpeak_mode}")

Mode Cholesterol: 197
Mode Age: 58
Mode trtbps: 120
Mode thalachh: 162
Mode oldpeak: 0.0

In [22]:
# Done by Esther Kadhikwa
# Detect and remove outliers using z-scores
z_scores = np.abs(stats.zscore(df.select_dtypes(include=[np.number])))
df_cleaned = df[(z_scores < 3).all(axis=1)]

# Display the shape of the dataset before and after removing outliers
print(f"Original data shape: {df.shape}")
print(f"Data shape after removing outliers: {df_cleaned.shape}")

Original data shape: (302, 14)
Data shape after removing outliers: (287, 14)

In [23]:
# Convert specific columns to categorical data types
df_cleaned['sex'] = df_cleaned['sex'].astype('category')
df_cleaned['cp'] = df_cleaned['cp'].astype('category')
df_cleaned['thall'] = df_cleaned['thall'].astype('category')

# Display the data types after conversion
print(df_cleaned.dtypes)

age            int64
sex         category
cp          category
trtbps         int64
chol           int64
fbs            int64
restecg        int64
thalachh       int64
exng           int64
oldpeak      float64
slp            int64
caa            int64
thall       category
output         int64
dtype: object

C:\Users\esthe\AppData\Local\Temp\ipykernel_13060\2283601132.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['sex'] = df_cleaned['sex'].astype('category')
C:\Users\esthe\AppData\Local\Temp\ipykernel_13060\2283601132.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['cp'] = df_cleaned['cp'].astype('category')
C:\Users\esthe\AppData\Local\Temp\ipykernel_13060\2283601132.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['thall'] = df_cleaned['thall'].astype('category')

In [24]:
# Normalize the 'trtbps' (resting blood pressure) and 'chol' (cholesterol) columns
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_cleaned[['trtbps', 'chol']] = scaler.fit_transform(df_cleaned[['trtbps', 'chol']])

# Display the first few rows of the normalized data
print(df_cleaned[['trtbps', 'chol']].head())

     trtbps      chol
0  0.593023  0.399254
1  0.418605  0.462687
2  0.418605  0.291045
3  0.302326  0.410448
4  0.302326  0.850746

C:\Users\esthe\AppData\Local\Temp\ipykernel_13060\4211918921.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[['trtbps', 'chol']] = scaler.fit_transform(df_cleaned[['trtbps', 'chol']])

In [25]:
# One-hot encode categorical columns like 'cp' and 'thall'
df_encoded = pd.get_dummies(df_cleaned, columns=['cp', 'thall'], drop_first=True)

# Display the first few rows of the dataset after encoding
print(df_encoded.head())

   age sex    trtbps      chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0   63   1  0.593023  0.399254    1        0       150     0      2.3    0
1   37   1  0.418605  0.462687    0        1       187     0      3.5    0
2   41   0  0.418605  0.291045    0        0       172     0      1.4    2
3   56   1  0.302326  0.410448    0        1       178     0      0.8    2
4   57   0  0.302326  0.850746    0        1       163     1      0.6    2

   caa  output   cp_1   cp_2   cp_3  thall_2  thall_3
0    0       1  False  False   True    False    False
1    0       1  False   True  False     True    False
2    0       1   True  False  False     True    False
3    0       1   True  False  False     True    False
4    0       1  False  False  False     True    False